# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc
.yarn
.tls
.compose/traefik/certs
.compose/headlamp
# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

ec_key.pem

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
kubeconfig.*.yaml
proxyauth_config.*.yaml

target
vite.config.*.timestamp*
vitest.config.*.timestamp*

## Pre release workflow files
/commit-report
/docker-security-report
/quality-report
/sbom-reports
/security-report
/swagger-report
/pr_body.md
/helm-report
/helm-packages
