---
###############################################################
#                   Authelia configuration                    #
###############################################################

server:
  address: "tcp://:9091"

log:
  level: "debug"

totp:
  issuer: "authelia.k8s.localhost"

identity_validation:
  reset_password:
    jwt_secret: "a_very_important_secret"

authentication_backend:
  file:
    path: "/config/users_database.yml"

access_control:
  default_policy: "deny"
  rules:
    - domain: "public.k8s.localhost"
      policy: "bypass"
    - domain: "traefik.k8s.localhost"
      policy: "one_factor"
    - domain: "secure.k8s.localhost"
      policy: "two_factor"
    - domain: "localhost"
      policy: "bypass"

session:
  secret: "insecure_session_secret"

  cookies:
    - name: "authelia_session"
      domain: "k8s.localhost" # Should match whatever your root protected domain is
      authelia_url: "https://authelia.k8s.localhost"
      expiration: "1 hour" # 1 hour
      inactivity: "5 minutes" # 5 minutes
      default_redirection_url: "https://public.k8s.localhost"

regulation:
  max_retries: 3
  find_time: "2 minutes"
  ban_time: "5 minutes"

storage:
  encryption_key: "you_must_generate_a_random_string_of_more_than_twenty_chars_and_configure_this"
  local:
    path: "/config/db.sqlite3"

notifier:
  filesystem:
    filename: "/config/notification.txt"

identity_providers:
  oidc:
    ## The other portions of the mandatory OpenID Connect 1.0 configuration go here.
    ## See: https://www.authelia.com/c/oidc
    clients:
      - client_id: "kube_login"
        client_name: "Kubernetes Cluster Access"
        client_secret: "$pbkdf2-sha512$310000$c8p78n7pUMln0jzvd4aK4Q$JNRBzwAo0ek5qKn50cFzzvE9RXV88h1wJn5KGiHrD0YKtZaR/nCb2CJPOsKaPK0hjf.9yHxzQGZziziccp6Yng"
        public: false
        authorization_policy: "two_factor"
        redirect_uris:
          - "http://localhost:8000"
          - "http://localhost:18000"
        scopes:
          - "openid"
          - "groups"
          - "email"
          - "profile"
        userinfo_signed_response_alg: "none"
        token_endpoint_auth_method: "client_secret_basic"
      - client_id: "proxyauthk8s"
        client_name: "Proxy Auth K8s front auth"
        public: true
        require_pkce: false
        authorization_policy: "two_factor"
        redirect_uris:
          - "http://localhost:4200/auth/callback"
          - "https://localhost:4200/auth/callback"
          - "http://localhost:18000"
        scopes:
          - "openid"
          - "groups"
          - "email"
          - "profile"
        userinfo_signed_response_alg: "none"
        token_endpoint_auth_method: "none"
    cors:
      endpoints:
        - "authorization"
        - "token"
        - "userinfo"
        - "revocation"
        - "introspection"
      allowed_origins:
        - "http://localhost:4200"
        - "https://localhost:4200"
      allowed_origins_from_client_redirect_uris: true
    jwks:
      - key_id: "kube_login"
        key: |
          {{- secret "/config/private.pem" | nindent 10 }}
