# Expose ProxyKubeAPI via Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  namespace: {{ .Release.Namespace }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Values.ingress.tls.secretName }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-front
                port:
                  number: 4200
          - path: /api/
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-back
                port:
                  number: {{ .Values.back.port }}
          - path: /clusters/
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-back
                port:
                  number: {{ .Values.back.port }}
